{% extends "index.html" %} {% block content %}

<header class="masthead" style="background: lightgray">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto" style="border-style: none;">
                <div class="mx-auto header-content" style="background: rgba(47,37,48, 1);padding: 30px;border-radius: 34px; margin: 6px; align-items: center; justify-items: center; align-content: center; justify-content: center;">
                    <h1 class="mb-5" style="font-family: 'Roboto Mono', monospace;color: white;text-align: center;">AN OPEN SOURCE<br>PROJECT BY<br>JOHN SEONG</h1>
                    <h3 style="font-family: 'Roboto Mono', monospace; text-transform: uppercase; color: white">This game was designed to encourage young people not to gamble on lotteries, as the probablity of correctly guessing the number is infinitesimal!</h3>
                    </h3><br><br><a class="btn btn-outline-warning btn-xl" role="button" href="https://github.com/wonmor" style="color: white;border-color: white;font-family: 'Roboto Mono', monospace;font-size: 20px;">CHECK OUT MY<br>GITHUB PAGE!</a></div>
            </div>
        </div>
    </div>
</header>

{% endblock content %}