{% extends "index.html" %} {% block content %}

<head>
    <script>
        var counter = 0;

        function onClickEvent() {
            var warning = document.getElementById("warning")
            var guide_text = document.getElementById("guide-text")

            if (document.forms['frm'].name.value === "") {
                warning.style.display = 'block';
            } else {
                warning.style.display = 'none';
                counter++;
                document.forms['frm'].name.value = ""
            }

            // Scene transition when the submit button is pressed once... twice... three times... etc.
            if (counter == 1) {
                guide_text.innerHTML = "SET THE<br>RANGE OF<br>POSSIBLE<br>NUMBERS"
                    // Update the placeholder text?

            } else if (counter == 2) {
                guide_text.innerHTML = "HOW MANY<br>DRAWS?"
            }
        }

        // Get the input field
        var input = document.getElementById("name");

        // Execute a function when the user releases a key on the keyboard => NEEDS FIX! DOESN'T WORK!
        input.addEventListener("keyup", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("button").click();
            }
        });
    </script>
</head>
<header class="masthead" style="background: lightgray">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto" style="border-style: none;">
                <div class="mx-auto header-content" style="background: rgba(47,37,48, 1);padding: 30px;border-radius: 34px; ;border-color: white;margin: 6px; color: white">
                    <h1 class="mb-5" id="guide-text" style="font-family: 'Roboto Mono', monospace;color: white;text-align: center;">WHAT IS<br>YOUR NAME?</h1>
                    <h3 style="font-family: 'Roboto Mono', monospace; text-transform: uppercase; color: white">DON'T HESITATE! GO ON!</h3><br>
                    <form action="" name="frm" method="post">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Enter your nickname...">
                        <br><a class="btn btn-outline-warning btn-xl" role="button" id="button" onclick="onClickEvent()" href="#download" style="color: white;font-family: 'Roboto Mono', monospace;font-size: 20px; justify-self: center; align-self: center">Next</a>
                        <br><br>
                        <p id="warning" style="display: none; font-family: 'Roboto Mono', monospace; text-transform: uppercase; color: lightcoral">The value you entered is invalid. Please try it again.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock content %}