{% extends "index.html" %} {% block content %}

<head>
    <script src="../static/bootstrap/js/home.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/style.css">
</head>
<header class="masthead" id="master">
    <form action="" name="frm" method="post">
        <div id="pop_up" style="display: none" class="d-flex justify-content-center mt-5">
            <div class="card p-3 cookie"><span>We use third party cookies to personalize content, ads and analyze site traffic.<br></span>
                <div class="mt-4 text-right"><span name="decline-cookies" value="decine" onclick="disablePopUp()" class="mr-3 decline">Decline</span>&nbsp;&nbsp;&nbsp;<button styleclass="btn btn-outline-warning btn-sm" name="allow-cookies" value="allow" onclick="disablePopUp()" type="button">Allow cookies</button></div>
            </div>
        </div>
    </form>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto" style="border-style: none;">
                <div class="mx-auto header-content" style="background: rgba(255,255,255, 1);padding: 30px;border-radius: 34px;margin: 6px;">
                    <h1 class="mb-5" style="font-family: 'Roboto Mono', monospace;color: black;text-align: center;">WANT TO WIN THE LOTTERY?<br>CURIOUS ABOUT YOUR CHANCES?</h1>
                    <h3 style="font-family: 'Roboto Mono', monospace; text-transform: uppercase; color: black">DEVELOPED BY JOHN SEONG.<br>AN OPEN SOURCE PROJECT.</h3><br><br><a class="btn btn-outline-warning btn-xl" role="button" href="/game" style="color: black;border-color: black;font-family: 'Roboto Mono', monospace;font-size: 20px; justify-self: center; align-self: center">Play Now for Free!</a></div>
            </div>
        </div>
    </div>
</header>

{% endblock content %}